*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #86d570;
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop{
    display: flex;
    width: 100%;
    height: 70px;
    background: #4dc92e;
}

.elem{
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}



